.register {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .form {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border-radius: 5px;
        background-color: lightgray;

        form {
            margin: 30px;
            gap: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }
    }
}