<div class="login">
    <div class="form">
        <h3>Login</h3>
        <form (ngSubmit)="onSubmit()">
            <div class="form-group">
                <div>
                    <label for="userName">User name</label>
                    <input [(ngModel)]="userName" name="userName" id="userName" type="text" class="form-control">
                </div>
                <div>
                    <label for="password">Password</label>
                    <input [(ngModel)]="password" name="password" id="password" type="password" class="form-control">
                </div>
            </div>
            <button>Submit</button>
            <a href="/register">Register</a>
        </form>
    </div>
</div>